[Unit]
Description=MH-Z19 CO2 exporter for Prometheus
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/mh-z19-exporter/main.py
Restart=always

[Install]
WantedBy=multi-user.target
